body{
    background-color: black;
    color: gold;
}


.hide_content{
    display: none;
}

.show_content{
    display: revert;
}

img{
    background-color: white;
}

.task{
    font-size: 1em;
    font-family: Helvetica, Arial;

}


.message{
    font-size: 2em;
    font-family: Helvetica, Arial;
    
}

.remark_class{
    font-size: 1.5em;
    font-family: Helvetica, Arial;
    color: gold;
}


#check_submit_button{
    margin-top: 2em;
}

.thick_left_border_for_remarks{
    border-left: 10px;
    padding-left: 1em;
    margin-left: 10px;
}